/*  文字进入动画  */
@keyframes enter {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
        animation-timing-function: linear;
    }

    5% {
        opacity: .1;
        transform: scale3d(0.2, 0.2, 0.2) translate3d(0, 1500px, 0);
        animation-timing-function: linear;
    }

    25% {
        opacity: .25;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 800px, 0);
        animation-timing-function: linear;
    }

    50% {
        opacity: .5;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 500px, 0);
        animation-timing-function: linear;
    }

    75% {
        opacity: .75;
        transform: scale3d(0.75, 0.75, 0.75) translate3d(0, -60px, 0);
        animation-timing-function: linear;
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        animation-timing-function: linear;
    }
}

/*  文字边框动画  */
@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .4);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

/* 故障风格动画（before）*/
@keyframes animation-before{
    0% {
        clip-path: inset(0 0 0 0);
    }

    5% {
        clip-path: inset(.8em 0 .4em 0);
    }

    10% {
        clip-path: inset(.4em 0 .8em 0);
    }

    15% {
        clip-path: inset(.1em 0 1em 0);
    }

    20% {
        clip-path: inset(.3em 0 .6em 0);
    }

    25% {
        clip-path: inset(.6em 0 .3em 0);
    }

    30% {
        clip-path: inset(.8em 0 .5em 0);
    }

    35% {
        clip-path: inset(1em 0 .1em 0);
    }

    40% {
        clip-path: inset(.7em 0 .35em 0);
    }

    45% {
        clip-path: inset(.5em 0 .2em 0);
    }

    50% {
        clip-path: inset(.2em 0 .5em 0);
    }

    55% {
        clip-path: inset(.35em 0 .7em 0);
    }

    60% {
        clip-path: inset(.1em 0 .9em 0);
    }

    65% {
        clip-path: inset(.8em 0 .46em 0);
    }

    70% {
        clip-path: inset(.66em 0 .33em 0);
    }

    75% {
        clip-path: inset(.48em 0 .23em 0);
    }

    80% {
        clip-path: inset(.23em 0 .48em 0);
    }

    85% {
        clip-path: inset(.39em 0 .79em 0);
    }

    90% {
        clip-path: inset(.33em 0 .66em 0);
    }

    95% {
        clip-path: inset(1em 0 .3em 0);
    }

    100% {
        clip-path: inset(.62em 0 .29em 0);
    }
}

/* 故障风格动画（after）*/
@keyframes animation-after{
    0% {
        clip-path: inset(0 0 0 0);
    }

    5% {
        clip-path: inset(.4em 0 .8em 0);
    }

    10% {
        clip-path: inset(.8em 0 .4em 0);
    }

    15% {
        clip-path: inset(1em 0 .1em 0);
    }

    20% {
        clip-path: inset(.6em 0 .3em 0);
    }

    25% {
        clip-path: inset(.3em 0 .6em 0);
    }

    30% {
        clip-path: inset(.5em 0 .8em 0);
    }

    35% {
        clip-path: inset(.1em 0 1em 0);
    }

    40% {
        clip-path: inset(.35em 0 .7em 0);
    }

    45% {
        clip-path: inset(.2em 0 .5em 0);
    }

    50% {
        clip-path: inset(.5em 0 .2em 0);
    }

    55% {
        clip-path: inset(.7em 0 .35em 0);
    }

    60% {
        clip-path: inset(.9em 0 .1em 0);
    }

    65% {
        clip-path: inset(.46em 0 .8em 0);
    }

    70% {
        clip-path: inset(.3em 0 .66em 0);
    }

    75% {
        clip-path: inset(.23em 0 .48em 0);
    }

    80% {
        clip-path: inset(.48em 0 .23em 0);
    }

    85% {
        clip-path: inset(.79em 0 .39em 0);
    }

    90% {
        clip-path: inset(.66em 0 .33em 0);
    }

    95% {
        clip-path: inset(.3em 0 1em 0);
    }

    100% {
        clip-path: inset(.29em 0 .62em 0);
    }
}